body {
  background-image: url('imagens/fundo.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed; 
  color: #ffffff;
  text-align: center;
}

a {
color: #000000;
text-decoration: none;
}

button {
  background-color: #ffffff;
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 10px;
  border-color: #ffffff
}
